<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>hello admin</title>
</head>
<body>
<table>
  <tr>
    <th>Id</th>
    <th>Login</th>
    <th>Password</th>
    <th>Email</th>
    <th>Number</th>
  </tr>

  </thead>
  <tbody>
  <tr th:each="users : ${allUsers}">
    <td th:text="${users.id}">Id</td>
    <td th:text="${users.name}">Login</td>
    <td th:text="${users.password}">Password</td>
    <td th:text="${users.email}">Email</td>
    <td th:text="${users.number}">Number</td>
    <td>
      <form th:action="@{delete/{id}(id=${users.getId()})}" th:object="${users}">
        <input type="hidden" name="id" th:value="${users.getId()}">
        <button type="submit">Удалить</button>
      </form>
    </td>
  </tr>
  </tbody>

</table>
</body>
</html>